body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
  }
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  /* ================================================= MOBILE 👇 ========================================= */
  @media screen and (min-width: 428px) {
    .container {
      width: 428px;
    }
  }
  
  /* ================================================= TABLET 👇 ========================================= */
  @media screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
  } 
  
  
  /* ================================================= NOT DESKTOP 👇 ========================================= */
  @media screen and (min-width: 1158px) {
    .container {
      width: 1158px;
    }
  }


  